body{
  background-color: #000000;
}

body::before{
  content: "";
  background-image: url(./images/background-pokemon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
}